.video{
    
    display: flex;
    justify-content: center;
    gap: 65px;

}
.adio {
    
    border: 10px solid black;
    border-radius: 7px;
    display: flex;

}

h1{
    color: rgb(199, 55, 15);
    text-align: center;
    display: block;
    background-color: rgb(230, 233, 219);
}
*{ 
   
    background-color: rgb(142, 69, 69);
    
}
 h2 span{
     background-color: white;
     font-size:30px;
     text-size-adjust: 90px;
    color: rgb(14, 11, 11);
   
  
} 
